<div class="wrapper">
  <header>
    <div class="header-right">
      <div>Not a Join User?</div>
      <button (click)="toggleForm()">Sign Up</button>
    </div>
  </header>
  @if(loginVisible) {
  <div class="formContainer">
    <h1>Login</h1>
    <form (ngSubmit)="login()">
      <div class="input-field">
        <input type="text" name="username" [(ngModel)]="username" required>
        <label>Enter email</label>
      </div>
      <div class="input-field">
        <input type="password" name="password" [(ngModel)]="password" required>
        <label>Enter password</label>
      </div>
      <button class="loginButton">Login</button>
    </form>
    <span class="errorMessage">
      {{message}}
    </span>
  </div>
  } @else {
  <div class="formContainer">
    <img src="assets/img/go-back.svg" id="signUpGoBack" (click)="toggleForm()">
    <h1>Sign Up</h1>
    <form (ngSubmit)="register()">
      <div class="input-field">
        <input type="text" name="newUsername" [(ngModel)]="newUsername" required>
        <label>Enter email</label>
      </div>
      <div class="input-field">
        <input type="password" name="newPassword" [(ngModel)]="newPassword" required>
        <label>Enter password</label>
      </div>
      <div class="input-field">
        <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword" required>
        <label>Confirm password</label>
      </div>
      <button class="loginButton">Sign Up</button>
    </form>
    <span class="errorMessage">
      {{message}}
    </span>
  </div>
  }
  <app-popup-overlay *ngIf="showPopup" [message]="message" (close)="closePopup()"></app-popup-overlay>
</div>