<h1>Tasks</h1>
<div class="error">
  {{error}}
</div>
<div class="tasks-container">
  <div class="tasks-column">
    <h2>Todo</h2>
    <ul cdkDropList id="Todo" [cdkDropListData]="todo" (cdkDropListDropped)="drop($event)">
      <li *ngFor="let task of todo" cdkDrag [cdkDragData]="task">
        {{task.title}} ({{task.progress}})
      </li>
    </ul>
  </div>
  <div class="tasks-column">
    <h2>Await Feedback</h2>
    <ul cdkDropList id="Await_Feedback" [cdkDropListData]="awaitFeedback" (cdkDropListDropped)="drop($event)">
      <li *ngFor="let task of awaitFeedback" cdkDrag [cdkDragData]="task">
        {{task.title}} ({{task.progress}})
      </li>
    </ul>
  </div>
  <div class="tasks-column">
    <h2>In Progress</h2>
    <ul cdkDropList id="inProgress" [cdkDropListData]="inProgress" (cdkDropListDropped)="drop($event)">
      <li *ngFor="let task of inProgress" cdkDrag [cdkDragData]="task">
        {{task.title}} ({{task.progress}})
      </li>
    </ul>
  </div>
  <div class="tasks-column">
    <h2>Done</h2>
    <ul cdkDropList id="Done" [cdkDropListData]="done" (cdkDropListDropped)="drop($event)">
      <li *ngFor="let task of done" cdkDrag [cdkDragData]="task">
        {{task.title}} ({{task.progress}})
      </li>
    </ul>
  </div>
</div>