.tasks-container {
  display: flex;
  justify-content: space-between;
}

.tasks-column {
  width: 45%;
  border: 2px solid rebeccapurple;
}

.error {
  color: red;
}

.highlight {
  border: 2px solid red;
}

.drag-area-highlight {
  border: 1px dashed red;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  width: 100%;
}

.drag-area-drop-here {
  min-width: 222px;
  max-width: 222px;
  min-height: 60px;
  max-height: 222px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  color: blue;
}

.singleTask {
  width: 200px;
  height: 200px;
  border: 1px solid green;
}
