<div class="wrapper border-green">
  <h1>Add Task</h1>
  <form action="">
    <div class="formLeft border-blue">
      <div class="input-field">
        <input type="text" name="title" required>
        <label>Title</label>
      </div>
      <div class="input-field-description">
        <textarea name="description" required></textarea>
        <label>Description</label>
      </div>
      <div>
        <select>
          <option default>Pick a team</option>
          <option>Lakers</option>
          <option>Miami</option>
          <option>Cleveland</option>
        </select>
      </div>
    </div>
    <div class="formRight border-blue">right</div>
  </form>
</div>